html, body{
	width:100%;
	height:100%;
	margin: 0px;
    overflow: hidden;
    background-image: url("./../images/ludo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
div{
    margin-top:50px;
}
img:hover{
    cursor:pointer;
}
#tabs-1{
    color:white;
    font-size: 36px;
    background-color: rgb(14, 71, 157);
    border:2px solid blue;
    overflow: scroll;
    width:60%;
    height: 60%;
    position: absolute;
    top:20%;
    left:20%;
    display:none;
    margin: 0;

}
#tabs-1 div{
    margin: 0;
    display: flex;
    justify-content:flex-end;
}
