html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(92, 73, 43, 1) 0%,
    rgba(111, 95, 53, 1) 0%,
    rgba(16, 35, 78, 1) 0%,
    rgba(54, 50, 73, 1) 82%,
    rgba(45, 46, 65, 1) 83%,
    rgba(14, 10, 42, 1) 100%,
    rgba(1, 3, 20, 1) 100%,
    rgba(180, 123, 35, 1) 100%,
    rgba(207, 128, 13, 1) 100%,
    rgba(10, 11, 13, 0.7497373949579832) 100%
  );
}
.ludo {
  width: 1081px;
  margin: 20px auto;
  border: 30px solid #daa06d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.light-box,
.dark-box,
.circle,
.astep {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
img {
  position: relative;
}
.green-goti,
.yellow-goti,
.red-goti,
.blue-goti {
  position: absolute;
}
.light-box {
  width: 430px;
  height: 430px;
  border: 1px solid black;
}
.dark-box {
  width: 250px;
  height: 250px;
}
.shapes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
}
.light-green {
  background-color: #78ab46;
}
.dark-green {
  background-color: #3b5323;
}
.light-yellow {
  background-color: #fefe22;
}
.dark-yellow {
  background-color: #ffe135;
}
.light-red {
  background-color: #ff0000;
}
.dark-red {
  background-color: #800000;
}
.light-blue {
  background-color: #0000ff;
}
.dark-blue {
  background-color: #191970;
}
.white {
  width: 70px;
  height: 70px;
  background-color: white;
  border: 1px solid black;
}
.box {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}
.rectangle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.side {
  width: 216px;
  height: 400px;
}
.middle {
  width: 432px;
  height: 216px;
}

.triangles {
  width: 214px;
  height: 214px;
  border: 1px solid black;
}
#green-triangle {
  width: 0;
  height: 0;
  border-top: 107px solid transparent;
  border-left: 106px solid #78ab46;
  border-bottom: 107px solid transparent;
  position: relative;
}
#yellow-triangle {
  width: 0;
  height: 0;
  border-left: 106px solid transparent;
  border-right: 107px solid transparent;
  border-top: 107px solid #fefe22;
  position: relative;
  bottom: 215px;
}
#blue-triangle {
  width: 0;
  height: 0;
  border-top: 109px solid transparent;
  border-right: 109px solid #0000ff;
  border-bottom: 109px solid transparent;
  position: relative;
  bottom: 324px;
  left: 105px;
}
#red-triangle {
  width: 0;
  height: 0;
  border-left: 109px solid transparent;
  border-right: 109px solid transparent;
  border-bottom: 109px solid red;
  position: relative;
  bottom: 481px;
  right: 1px;
}
p {
  font-size: 48px;
  font-weight: bolder;
}
.triangles #yellow-triangle p {
  position: absolute;
  bottom: -21px;
  right: -12.75px;
}
.triangles #green-triangle p {
  position: relative;
  right: 60px;
  bottom: 77px;
}
.triangles #blue-triangle p {
  position: relative;
  bottom: 77px;
  left: 40px;
}
.triangles #red-triangle p {
  position: relative;
  top: 20px;
  right: 11px;
}
.red-goti,
.yellow-goti,
.blue-goti,
.green-goti {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.red-goti {
  background-color: #b73307;
  box-shadow: 0 0 0 3px #8e331b;
  border: 2px solid #670606;
}
.green-goti {
  background-color: #549c0d;
  box-shadow: 0 0 0 3px #34580fde;
  border: 2px solid #0c250e;
}
.yellow-goti {
  background-color: #e8c80f;
  box-shadow: 0 0 0 3px #b39b0f;
  border: 2px solid #bba420;
}
.blue-goti {
  background-color: #3f3fe0;
  box-shadow: 0 0 0 3px #3e3e7b;
  border: 2px solid #272779;
}

.scene {
  width: 200px;
  height: 200px;
  margin: 20px;
  perspective: 600px;
  position: relative;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
  cursor: pointer;
}
.cube.show-1 {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-2 {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-3 {
  transform: translateZ(-100px) rotateY(-90deg);
}
.cube.show-4 {
  transform: translateZ(-100px) rotateY(90deg);
}
.cube.show-5 {
  transform: translateZ(-100px) rotateX(-90deg);
}
.cube.show-6 {
  transform: translateZ(-100px) rotateX(90deg);
}

.cube-face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 4px solid white;
  line-height: 200px;
  font-size: 70px;
  font-weight: bolder;
  color: white;
  background-color: green;
  text-align: center;
  opacity: 0.75;
}
.cube-face1 {
  transform: rotateY(0deg) translateZ(100px);
}
.cube-face2 {
  transform: rotateY(180deg) translateZ(100px);
}
.cube-face3 {
  transform: rotateY(90deg) translateZ(100px);
}
.cube-face4 {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube-face5 {
  transform: rotateX(90deg) translateZ(100px);
}
.cube-face6 {
  transform: rotateX(-90deg) translateZ(100px);
}

@media (min-width:351px) and (max-width:700px){
  .ludo {
    width: 1081px;
  }
}
