html, body{
	width:100%;
	height:100%;
	margin: 0px;
    overflow: hidden;
    background-image: url("./images/ludo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
div{
    margin-top:50px;
}
img:hover{
    cursor:pointer;
}
