html, body{
	width:100%;
    height: 100%;
    overflow: hidden;
	margin: 0px;
    background-image: url("./images/page.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.players{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80%;
}
.players img{
    margin-top: 50px;
    margin-left: 300px;
}
img:hover{
    cursor: pointer;
}


